@tailwind base;
@tailwind components;
@tailwind utilities;

@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;700&display=swap');

@layer base {

    body {

        font-family: "Inter", "Helvetica Neue", Helvetica, Arial, sans-serif;

    }

}



pre, code {

  font-family: 'Courier New', Courier, monospace;

}



.prose code {
  color: #1a202c; /* dark gray */
  background-color: #f7fafc; /* gray-100 */
  padding: 0.2rem 0.4rem;
  border-radius: 0.25rem;
  font-weight: 400;
}

.prose pre {
  background-color: #1a202c !important; /* dark background for blocks */
  color: #f7fafc !important;
  padding: 1.5rem;
  border-radius: 0.5rem;
  overflow-x: auto;
  margin: 1.5rem 0;
}

.prose pre code {
  background-color: transparent !important;
  color: inherit !important;
  padding: 0;
  border-radius: 0;
}
